* {
  margin: 0px;
  padding: 0px;
}

.mainContainer {
  min-height: 100%;
  background-color: #242a3c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: Montserrat;
  margin: 0px;
  font-size: 20px;
}

.cardContainer {
  max-width: 400px;
  padding: 2%;
  padding-top: 0%;
  margin: auto;
  background-color: #2d3342;
}

.titleContainer {
  text-align: center;
  margin-top: 15px;
}

.titleContainer h1 {
  font-weight: 510;
}

.subTitle {
  margin-top: 1rem;
  font-weight: lighter;
}

.subTitle p {
  font-weight: 200;
  font-size: 16px;
}

.formContainer {
  margin: 1.5rem 1rem 1rem 1rem;
}

.submitContainer {
  text-align: center;
  background: white;
  border-radius: 5px;
  margin: 2rem 0rem 0rem 0rem;
}

.registerButton {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.footerContainer {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.previous,
.next {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.link {
  text-decoration: none;
}

.previous {
  float: left;
}

.next {
  width: 2.5rem;
  height: 2.5rem;
  float: right;
  border-radius: 50%;
}

.externalAuthButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.googleButton,
.githubButton {
  text-align: center;
}

.linkContainer {
  text-align: center;
  margin-top: 5%;
}

.linkContainer span {
  color: blue;
}

.error {
  background: #ffdddd !important;
}

.correct {
  background: #c9ffad !important;
}

.normal {
  background: #ffffff !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.eyeContainer {
  position: relative;
}

.eye {
  color: #242a3c;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.forgotPassword {
  margin-top: 0.3rem;
  float: right;
}
