.modalContainer {
  background-color: #242a3c;
  color: white;
  font-family: Montserrat;
  margin: -1px;
  font-size: 20px;
}

.modalHeader {
  background-color: #242a3c;
  color: white;
  font-family: Montserrat;
  margin: 0px;
  margin-bottom: 1px;
  font-size: 20px;
}

.error {
  background: #ffdddd !important;
}

.correct {
  background: #c9ffad !important;
}

.normal {
  background: #ffffff !important;
}
