.mainContainer {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    background-color: #242A3C;
    color: white;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    margin-top: 4%;
    padding: 2%;
    margin: 5%;
    padding-top: 0%;
    background-color: #2D3342;
}

.titleContainer {
    text-align: center;
    margin-top: 15px;
}

.subTitle {
    margin-top: 1rem;
    font-weight: 250;
}

.progressBarContainer {
    position: relative;
    margin-top: 1rem;
}

.progressBar {
    height: 5px;
    width: 230px;
    text-align: center;
    margin: auto;
}

.levelContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60%;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    left: 35%;
    top: -18.5px;
    z-index: 100;
}

.levelInitiated {
    background-color: gainsboro;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-decoration: none;
    border: none;
}

.levelCompleted {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    border: 4px solid #4CAF50;
    animation: popout 1.2s ease-in-out;
}

@media screen and (max-width:1075px) {
    .levelInitiated {
        width: 2.5rem;
        height: 2.5rem;
        top: -15px;
    }
    .levelCompleted {
        width: 2.5rem;
        height: 2.5rem;
        top: -15px;
    }
}

@media screen and (max-width:350px) {
    .levelContainer {
        left: 30%;
    }
}

.progressbar {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.formContainer {
    margin: 1.5rem 1rem 1rem 1rem;
}

.levelTitle {
    text-align: center;
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 25px;
    color: whitesmoke;
}

.flagContainer {
    color: black;
    background-color: white;
    height: 44px;
    border-radius: 5px;
}

.avatarContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    vertical-align: middle;
    overflow-x: scroll;
    background-color: whitesmoke;
    border: 1px solid white;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar {
    height: 5px;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-track {
    background-color: lightblue;
    border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
}

.avatar {
    min-width: 60px;
    height: 40px;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5%;
    margin: 2px;
}

.avatar:hover {
    background-color: violet;
    cursor: pointer;
}

.registerButton {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.footerContainer {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.previous,
.next {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.link {
    text-decoration: none;
}

.previous {
    float: left;
}

.next {
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    border-radius: 50%;
}

@keyframes popout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.error {
    background: #ffdddd !important;
}

.correct {
    background: #c9ffad !important;
}

.normal {
    background: #ffffff !important;
}