@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');

body,
html {
  height: 100%;
  width: 100%;
  background: #242a3c;
  color: #333;
}

.header {
  max-width: 500px;
  margin: 50px auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-left: 35%;
  padding: 10px 25px;
  color: #e8ecfd;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(48, 67, 124, 1) 100%
  );
}

.header__icon {
  max-width: 50px;
  height: auto;
  opacity: 0.7;
}

.header__title {
  margin-left: auto;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.center {
  display: flex;
  margin-left: 35%;
}

.ranklist {
  max-width: 500px;
  display: block;
  align-items: center;
  padding-top: 10px;
  font-family: 'Red Hat Display', sans-serif;
}

.top3 {
  position: relative;
  max-width: 500px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.top3 .item {
  box-sizing: border-box;
  position: relative;
  background: radial-gradient(
    circle,
    rgba(184, 207, 205, 1) 0%,
    rgba(133, 157, 217, 1) 100%
  );
  width: 9rem;
  height: 10rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  transform-origin: bottom;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1),
    0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2),
    0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pos {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.top3 .item .name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.top3 .item .score {
  opacity: 0.5;
}

.top3 .item .score:after {
  display: block;
  opacity: 0.5;
}

.top3 .itemone {
  width: 10rem;
  height: 11rem;
  padding-top: 3.5rem;
}

.top3 .itemone .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}

.top3 .item:hover {
  transform: scale(1.05);
}

.list {
  padding-left: 2rem;
  margin: 0 auto;
}

.list .item {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  height: 3rem;
  border-radius: 4rem;
  margin-bottom: 2rem;
  transform-origin: left;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  background: radial-gradient(
    circle,
    rgba(184, 207, 205, 1) 0%,
    rgba(133, 157, 217, 1) 100%
  );
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1),
    0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: white;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}

.list .item .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2),
    0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.list .item .name {
  flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}

.list .item .score {
  margin-right: 1.5rem;
  opacity: 1;
}

.list .item .score:after {
  margin-right: 1rem;
  opacity: 0.8;
}

.list .item:hover {
  transform: scale(1.05);
}

.list .item:hover .pos {
  opacity: 0.8;
}

.paginationouter {
  text-align: center;
}

.pagination {
  font-family: 'Quicksand', sans-serif;
  display: inline-flex;
  margin-top: 20px;
  position: relative;
}
