@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');

body,
html {
  height: 100%;
  width: 100%;
  background: #242a3c;
  color: #333;
}

.header {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin-left: 35%; */
  padding: 10px 25px;
  color: #e8ecfd;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(48, 67, 124, 1) 100%
  );
}

.header__icon {
  max-width: 50px;
  height: auto;
  opacity: 0.7;
}

.header__title {
  margin-left: auto;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.ranklist {
  max-width: 900px;
  display: block;
  align-items: center;
  padding-top: 10px;
  font-family: 'Red Hat Display', sans-serif;
  margin: auto;
}

.list {
  margin: 0 auto;
  border-radius: 12px;
  background: radial-gradient(
    circle,
    rgba(184, 207, 205, 1) 0%,
    rgba(133, 157, 217, 1) 100%
  );
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1),
    0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item .pos {
  text-align: center;
}

.list .item .pic {
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2),
    0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.list .item .name {
  flex-basis: 6rem;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.list .item .score {
  margin-right: 1.5rem;
  opacity: 1;
}

.list .item .score:after {
  margin-right: 1rem;
  opacity: 0.8;
}

.list .item:hover {
  transform: scale(1.01);
}

.paginationouter {
  text-align: center;
}

.pagination {
  font-family: 'Quicksand', sans-serif;
  display: inline-flex;
  margin-top: 20px;
  position: relative;
}

.matchHeader{
  background: #2B3760;
  color: white;
  height: 10vh;
  border: 0px;
}

.matchButton{
  background: #2B3760;
}