.vertical-timeline-element--work,
.vertical-timeline-element {
  height: 100px;
  width: 80%;
  padding: 0%;
}

.vertical-timeline::before {
  left: 13px;
}

.vertical-timeline-element-icon {
  width: 30px;
  height: 30px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0 0;
  padding: 0%;
  padding-left: 1rem;
  border-radius: 0%;
}

.vertical-timeline-element-content:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 2px 2px 2px #dfff00;
}

.vertical-timeline-element--work:hover {
  cursor: pointer;
}

.vertical-timeline-element-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  -ms-overflow-style: none;
  overflow-x: auto;
}

.vertical-timeline-element-title::-webkit-scrollbar {
  display: none;
}

.noCommitStyle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
