.mainContainer {
  margin-left: -60px;
  background-color: white;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 60px);

  display: flex;
  justify-content: center;
  align-items: center;

  /* background: url('../../assets/jumbotron.jpeg'); */
  background: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&w=1000&q=80');
  background-size: cover;
}

.jumbotron > div {
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.delta {
  display: flex;
  background-color: #eee;
}

.delta > div {
  margin: auto;
}

.heart {
  color: red;
}
