.mainContainer {
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 52px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('../../assets/bytehoc_final.webp');
  background-size: cover;
}

.jumbotron > div {
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.delta {
  display: flex;
  background-color: #eee;
}

.delta > div {
  margin: auto;
}

.heart {
  color: red;
}

@media screen and (max-width: 1000px) {
  .jumbotron > div {
    font-size: 25px;
  }
}
