.rowContainer {
  width: 100%;
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
  background-color: #eee;
}

.rowContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.descriptionContainer {
  padding-top: 32px;
}

.title {
  display: flex;
  min-width: 200px;
  font-size: 64px;
}

@media screen and (max-width: 700px) {

  .rowContainer {
    scale: 0.8;
  }
}
