.rowContainer {
  width: 100%;
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
  background-color: #eee;
}

.rowContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.descriptionContainer {
  padding-top: 32px;
}

.title {
  display: flex;
  min-width: 200px;
  font-size: 64px;
}

@media screen and (max-width: 900px) {
  .imageContainer {
    scale: 0.6;
  }
  .title {
    font-size: 40px;
  }
}
