.levelTitle {
  text-align: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-size: 25px;
  color: whitesmoke;
}

.flagContainer {
  color: black;
  background-color: white;
  height: 44px;
  border-radius: 5px;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  background-color: whitesmoke;
  border: 1px solid white;
  border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar {
  height: 5px;
  border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-track {
  background-color: lightblue;
  border-radius: 4px;
}

.avatarContainer::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 4px;
}

.avatar {
  min-width: 60px;
  height: 60px;
  text-align: center;
  background-color: #262e4b;
  border-radius: 5%;
  margin: 2px;
}

.avatar:hover {
  background-color: #4595cf;
  cursor: pointer;
}

.avatarSelected {
  background-color: #4595cf;
}

.avatarImg {
  width: 100%;
  height: 100%;
}

.error {
  background: #ffdddd !important;
}

.correct {
  background: #c9ffad !important;
}

.normal {
  background: #ffffff !important;
}
