.levelTitle {
  text-align: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-size: 25px;
  color: whitesmoke;
}

.error {
  background: #ffdddd !important;
}

.correct {
  background: #c9ffad !important;
}

.normal {
  background: #ffffff !important;
}
