.canvas {
    width: 0rem;
}

.header {
    background-color: #242A3C;
    color: white;
}

.close {
    background-color: white;
    border-radius: 50%;
}

.divider {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.body {
    background-color: #242A3C;
    color: white;
}

.profileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.imageContainer {
    width: 10rem;
    height: 10rem;
    text-align: center;
    margin: auto;
}

.imageContainer img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.formContainer {
    margin: 2rem 2rem 0rem 2rem;
}

.flagContainer {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    color: black;
}

.footer {
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
    color: blue;
}