.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #262e4b;
  width: 100%;
  z-index: 1000;
}

.navBarContainer {
  display: flex;
}

.navContainer {
  display: flex;
}

.navLink {
  margin: auto 10px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.navLink:hover {
  color: white;
}

.navLogo {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 24px;
  margin: 0.5rem 1rem;
}

.logoLink {
  text-decoration: none;
}

.branding {
  position: relative;
}

.profileIcons {
  color: #9c9c9c;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ProfileIcon {
  height: auto;
  border-radius: 50%;
  margin-left: 0.6rem;
}

.profileIconImg {
  height: 2rem;
  width: auto;
}

.profileName {
  font-family: 'Montserrat';
  color: #ffffff;
  margin: 0 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  align-self: center;
}

.notifIcon {
  margin: auto;
  position: relative;
}
