.sideBar{
    height: 100%;
    background-color: #2D3342;
    z-index: 1000;
}

.sideBarIcon{
    margin: auto;
    width: fit-content;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 10px;
}

.sideBarIconComponent{
    color: #9c9c9c;
    cursor: pointer;
}
