.sideBar{
    height: calc(100vh - 60px) ;
    width: 65px;
    background-color: #2D3342;
    position: fixed;
    top: 60px;
    z-index: 1000;
}

.sideBarIcon{
    margin: auto;
    width: fit-content;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 30px;
}

.sideBarIconComponent{
    color: #9c9c9c;
    cursor: pointer;
}