.sideBar{
    height: 100%;
    width: 100%;
    background-color: #2D3342;
    padding-top: 1rem;
    margin: 0;
}

.sideBarIcon{
    margin: auto;
    width: fit-content;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 23px;
}

.sideBarIconComponent{
    color: #9c9c9c;
    cursor: pointer;
}
