.title {
  margin-top: 2.5rem;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  letter-spacing: 4.5px;
  color: #e8ecfd;
}

.heading {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-around;
  text-align: center;
}

.heading .column {
  color: #ffffff;
}

.battlecard {
  display: flex;
  margin-top: 2.5rem;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: #00bc62;
  border: 2px solid #242a3c;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
}

.battlecard .destruction {
  font-size: 42px;
  line-height: 51px;
}

.battlecard .vs {
  font-size: 28px;
  line-height: 34px;
}

.battlecard .coinused {
  font-size: 18px;
  line-height: 22px;
}

.battlecard .username {
  font-size: 20px;
  line-height: 24px;
}

.battlecard .pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

body,
html {
  height: 100%;
  width: 100%;
  background: #242a3c;
  color: #333;
}
