.historyMain {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.viewContainer {
  flex-grow: 1;
}

.codeView {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.largeButton {
  align-content: right;
  color: #ffffff;
  font-weight: 600;
  font-family: Montserrat;
  font-style: normal;
  background-color: #3894b1;
  border: 0px;
  border-radius: 2px;
  transition: 0.5s;
}

.smallButton {
  align-content: right;
  color: #ffffff;
  background: #1a3051;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  border: 0px;
  border-radius: 2px;
  transition: 0.5s;
  box-shadow: none !important;
}

.largeButton:active,
.smallButton:active {
  box-shadow: none;
}

.codeBox {
  flex-grow: 1;
  font-family: Montserrat;
  font-style: normal;
}

.codeBox > * {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

.mapBox {
  flex-grow: 1;
  font-family: Montserrat;
  font-style: normal;
  background: black;
}

.timeline {
  display: grid;
  grid-template-rows: 12% 70% 18%;
}

.select {
  text-align: right;
  color: #ffffff;
}

.selectButton {
  position: relative;
  color: #ffffff;
  width: 158px;
  height: 45px;
  margin: 10px;
  padding: 0 50px;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  background-color: #48c6d8;
  border: 0px;
  border-radius: 2px;
}

.selectButton:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

.completeTimeline {
  padding: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.completeTimeline::-webkit-scrollbar {
  display: none;
}

.noCommitDataHeader {
  color: #ffffff;
}

.codeBox,
.mapBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.mapBox::-webkit-scrollbar,
.codeBox::-webkit-scrollbar {
  display: none;
}

.selectBtn{
  background: #4595CF;
  border-radius: 0;
  margin: 5px;
  padding: 5px;
  /* width: 100px; */
}
