@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.historyMain {
  overflow: hidden;
  height: calc(100vh - 60px);
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60% 10%;
}

.codeView {
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.codeMapButton {
  background-color: #242a3c;
  text-align: left;
  padding-top: 34px;
  padding-left: 10px;
}

.largeButton {
  align-content: right;
  color: #ffffff;
  width: 241px;
  height: 48px;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  background-color: #3894b1;
  border: 0px;
  border-radius: 2px;
  transition: 0.5s;
}

.smallButton {
  align-content: right;
  color: #ffffff;
  width: 80px;
  height: 48px;
  background: #1a3051;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  font-style: normal;
  border: 0px;
  border-radius: 2px;
  transition: 0.5s;
}

.largeButton:hover,
.smallButton:hover {
  opacity: 0.7;
  transform: scale(1.03);
  transition: 0.5s ease-in-out !important;
  cursor: pointer;
}

.codeMapBox {
  font-family: Montserrat;
  font-style: normal;
  background-color: black;
}

.timeline {
  background-color: #242a3c;
  height: 100vh;
  display: grid;
  grid-template-rows: 13% 72% 15%;
}

.select {
  text-align: right;
  background-color: #242a3c;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  size: 24px;
  color: #ffffff;
  padding-top: 12px;
}

.selectButton {
  align-content: right;
  color: #ffffff;
  width: 158px;
  height: 45px;
  font-weight: 600;
  font-size: 22px;
  font-style: normal;
  background-color: #48c6d8;
  border: 0px;
  border-radius: 2px;
}

.selectButton:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

.dummy {
  background-color: #242a3c;
}

.completeTimeline {
  padding: 2rem 10px 2rem 6rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.completeTimeline::-webkit-scrollbar {
  display: none;
}

.noCommitDataHeader {
  color: #ffffff;
}

.selectBtnWrap{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.selectBtn{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 70px;
  margin-top: 8px;
  margin-right: 5px;
  padding: 0;
  height: 4vh;
  background: #4595CF !important;
  outline: none !important;
  border-color: #4595CF;
  border-radius: 0px;
}

.selectBtn:hover{
  border-color: white;
}