.mainContainer{
    margin: 0;
    padding: 0;
    height: 93.5vh;
}

.mainRow{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.sideBarCol{
    width: 45px; 
    height: 93.5vh; 
    margin: 0;
    padding: 0;
}

.componentCol{
    height: 93.5vh; 
    margin: 0;
    padding: 0;
}