@import url('http://fonts.cdnfonts.com/css/montserrat');
* {
  margin: 0px;
  padding: 0px;
}

.mainWindow {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gameArea {
  width: calc(100% - 60px);
  margin-top: 60px;
  margin-left: 60px;
}

body {
  background-color: #3b4d7c;
}
