.notifIconContainer {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.notifIcon {
  font-size: 20px;
}
.notifIcon:hover {
  opacity: 0.8;
}
.notifIconShow {
  background-color: #3b4d7c;
}
.notifModal {
  position: absolute;
  display: none;
  height: 100vh;
  max-height: 400px;
  max-width: 350px;
  width: 70vw;
  background-color: #242a3c;
  top: 40px;
  left: -200px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 1;
}
.notifModal::-webkit-scrollbar {
  display: none;
}
.notifModalShow {
  display: block;
}
.notifModalTriangle {
  display: none;
  position: absolute;
  left: 8px;
  top: 32px;
  border-color: transparent transparent #2b3146 transparent;
  border-style: solid;
  border-width: 0px 9px 9px 9px;
  height: 0px;
  width: 0px;
}
.notifTriangleShow {
  display: block;
}
.notif {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.3rem;
  padding-left: 0.7rem;
  background-color: #273352;
  border-radius: 4px;
  box-sizing: content-box;
  margin: 2px;
  margin-top: 4px;
}
.notif:nth-child(1) {
  margin-top: 0px;
}
.notifUnRead {
  border-left: 3px solid white;
}
.notifLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.notifHeader {
  color: #ffffff;
  font-size: 1.2rem;
}
.notifTime {
  font-size: 0.8rem;
}
.notifTimeSection > p {
  margin-bottom: 0px;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .notifModal {
    left: -150px;
  }
  .notifHeader {
    font-size: 1rem;
  }
  .notifTime {
    font-size: 0.7rem;
  }
  .notifContent {
    font-size: 0.8rem;
  }
}
